<div class="container-md border text-center" style="background-color: blueviolet;">
    <div class="h1-primary" style="font-weight: bold; color: white;">
        <h1>Sobre</h1>
    </div>
    <div class="p"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores nam quasi ipsum. Libero, illo ad rerum totam, placeat tenetur incidunt provident quibusdam aut voluptatem, eius vero sequi odit ipsa temporibus.</div>
    <div class="p"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores nam quasi ipsum. Libero, illo ad rerum totam, placeat tenetur incidunt provident quibusdam aut voluptatem, eius vero sequi odit ipsa temporibus.</div>
    <div class="p"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores nam quasi ipsum. Libero, illo ad rerum totam, placeat tenetur incidunt provident quibusdam aut voluptatem, eius vero sequi odit ipsa temporibus.</div>
</div>