<form action="/inscrito" method="POST" class="container-fluid border text-center" style="background-color: orange;">
    <div class="row-2 my-5">
        <label class="mx-3" style="font-size: 2rem;"><strong>Titulo</strong></label>
        <br>
        <input type="text" name="titulo" class="rounded" style="width: 630px;" placeholder="Digite um titulo para seu artigo">
    </div>
    
    <div class="row-1">
        <label class="mx-1" style="font-size: 2rem;"> <Strong>Conteúdo</Strong></label>
        <br>
        <textarea name="conteudo" cols="60" rows="10" class="rounded" placeholder="Escreva seu artigo aqui!"></textarea>
    </div>
    <div>
        <button class="btn btn-primary my-3" type="submit">Postar</button>
    </div>
</form>